.pb-0 {
    padding-bottom: 0px!important;
}

@media (min-width: 768px) {
    .redday-input {
        display: inline-block;
        vertical-align: middle;
    }

    .redday-form-inline .form-group {
        margin-bottom: 15px;
    }
}
